services:
  # ---------------------------------------------------------------------------
  # INFRASTRUCTURE
  # ---------------------------------------------------------------------------

  mysql:
    image: mysql:8.0
    container_name: finmate_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1111
      MYSQL_DATABASE: finmate
    ports:
      - "3306:3306"
    volumes:
      - ./shared/sql:/docker-entrypoint-initdb.d
      - mysql_data:/var/lib/mysql
    networks:
      - finmate_net
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10

  redis:
    image: redis:alpine
    container_name: finmate_redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - finmate_net

  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    container_name: finmate_zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - finmate_net

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    container_name: finmate_kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - finmate_net
    healthcheck:
      test: nc -z localhost 9092 || exit 1
      start_period: 15s
      interval: 5s
      retries: 10

  # ---------------------------------------------------------------------------
  # MICROSERVICES
  # ---------------------------------------------------------------------------

  gateway-service:
    build:
      context: ./gateway-service
      dockerfile: ../Dockerfile.ballerina
    container_name: finmate_gateway_service
    depends_on:
      - user-service
    ports:
      - "9090:9090"
    networks:
      - finmate_net

  notification-service:
    build:
      context: ./notification-service
      dockerfile: ../Dockerfile.ballerina
    container_name: finmate_notification_service
    depends_on:
      kafka:
        condition: service_healthy
    ports:
      - "9091:9091"
    networks:
      - finmate_net

  resource-service:
    build:
      context: ./resource-service
      dockerfile: ../Dockerfile.ballerina
    container_name: finmate_resource_service
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "9093:9093"
    networks:
      - finmate_net

  booking-service:
    build:
      context: ./booking-service
      dockerfile: ../Dockerfile.ballerina
    container_name: finmate_booking_service
    depends_on:
      mysql:
        condition: service_healthy
      kafka:
        condition: service_healthy
    ports:
      - "9094:9094"
    networks:
      - finmate_net

  user-service:
    build:
      context: ./user-service
      dockerfile: ../Dockerfile.ballerina
    container_name: finmate_user_service
    depends_on:
      mysql:
        condition: service_healthy
      kafka:
        condition: service_healthy
    ports:
      - "9095:9095"
    networks:
      - finmate_net

  ai-service:
    build:
      context: ./ai-service
      dockerfile: ../Dockerfile.ballerina
    container_name: finmate_ai_service
    restart: always
    ports:
      - "9096:9096"
    networks:
      - finmate_net

volumes:
  mysql_data:


networks:
  finmate_net:
    driver: bridge
